.welcome-page {
  position: relative;
  height: 100vh;
  background: linear-gradient(135deg,rgba(113, 99, 186, 1), white, #e0e0e058, rgba(113, 99, 186, 1));
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.content {
  position: relative;
  z-index: 1;
}

.buttons .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.buttons .btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}

.buttons .btn:hover {
  opacity: 0.8;
}
