.calendar-container {
    margin-top: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .fc-toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .fc .fc-button-primary {
    background-color: rgba(113, 99, 186, 1);
    border: none;
  }
  
  .fc .fc-button-primary:hover {
    background-color: #977fc1;
  }
  
  .fc-daygrid-event {
    background-color: rgba(113, 99, 186, 1);
    color: #fff;
    border: none;
  }
  